@CHARSET "UTF-8";
/* ------------------------ */
.wrap{
	clear: both;
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}
#up{
	position: fixed;
	bottom: 15%;
	right: 3%;
}
#cont{
	position: fixed;
	bottom: 5%;
	right: 3%;
}
/* ------------------------ */
/* ------------------------ a태그 */

a {
	font-size: 20px;
}
a:link { text-decoration: none; text-shadow: 0 0 24px; }
a:visited { text-decoration: none; text-shadow: 0 0 24px; }

.main {
	clear: both;
}
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');
 * {
	 box-sizing: border-box;
}
 body {
	 text-align: center;
	 /* display: flex; */
	 height: 100vh;
	 width: 100%;
	 justify-content: center;
	 align-items: center;
	 padding: 0 20px;
	 background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}
 .nav {
 	clear: both;
	 display: inline-flex;
	 position: relative;
	 overflow: hidden;
	 max-width: 100%;
	 background-color: #fff;
	 padding: 0 20px;
	 border-radius: 40px;
	 box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}
 .nav-item {
	 color: #9a86ff;
	 padding: 20px;
	 text-decoration: none;
	 transition: 0.3s;
	 margin: 0 6px;
	 z-index: 1;
	 font-family: 'DM Sans', sans-serif;
	 font-weight: 500;
	 
	 position: relative;
}
 .nav-item:before {
	 content: "";
	 position: absolute;
	 bottom: -6px;
	 left: 0;
	 width: 100%;
	 height: 5px;
	 background-color: #dfe2ea;
	 border-radius: 8px 8px 0 0;
	 opacity: 0;
	 transition: 0.3s;
}
 .nav-item:not(.is-active):hover:before {
	 opacity: 1;
	 bottom: 0;
}
 .nav-item:not(.is-active):hover {
	 color: #e3ff63;
}
 .nav-indicator {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 4px;
	 transition: 0.4s;
	 height: 5px;
	 z-index: 1;
	 border-radius: 8px 8px 0 0;
	 clear: both;
}
 @media (max-width: 580px) {
	 .nav {
		 overflow: auto;
	}
}
/* --------------------------------- */

/* --------------------------------- 말풍선*/


.balloon_03 {
 position:relative;
 margin: 30px;
 width:600px;
 height:auto;
  background:#dfe2ea;
  border-radius: 12px;
}
.balloon_03:after {
 border-top:13px solid #dfe2ea;
 border-left: 0px solid transparent;
 border-right: 15px solid transparent;
 border-bottom: 0px solid transparent;
 content:"";
 position:absolute;
 top:13px;
 right:-15px;
}




/* ------------------------------------ */

/* ------------------------------------ 버튼*/

 label {
	 display: run-in;
	 margin-bottom: 24px;
	 width: 100%;
}
button, input {
	 border: 0;
	 outline: 0;
	 font-size: 16px;
	 border-radius: 320px;
	 padding: 16px;
	 background-color: #ebecf0;
	 text-shadow: 1px 1px 0 #fff;
		color: #9a86ff;
}

button {
	 color: #9a86ff;
	 font-weight: bold;
	 box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
	 transition: all 0.2s ease-in-out;
	 cursor: pointer;
	 font-weight: 600;
}
 button:hover {
	 box-shadow: -2px -2px 5px #fff, 2px 2px 5px #9a86ff;
}
 button:active {
	 box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
 button .icon {
	 margin-right: 8px;
}
 button.unit {
	 border-radius: 8px;
	 line-height: 0;
	 width: 48px;
	 height: 30px;
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 margin: 0 8px;
	 font-size: 19.2px;
}
 button.unit .icon {
	 margin-right: 1%;
}
 button#red {
	 display: block;
	 width: 11%;
	 color: #9a86ff;
}

/* --------------------------------- */







