@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 1000px;
	margin: 5% auto;
	font-size: 17px;
	text-align: center;
}

.clear{clear: both;}

.search_fr {
	float:left;
}
#pageChange {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
#write_btn {
	float: right;
	margin-top: 20px;
}

#wrap a {
	text-decoration: none;
	color: black;
}

#wrap a:link, #wrap a:visited {color: gray;}
#wrap a:hover, #wrap a:active {color: olive;}


